# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
robot_env/
venv/
.env

# Data & Large Files
*.csv
!baseline_5000_metrics.csv
!mega_v4_eval_metrics_5000.csv
*.xml
!maltepe.net.xml
!istanbul_vtypes.add.xml
venv_312/
*.ipynb
*.zip
*.7z
*.mp4
*.bak

# Training & Logs
ray_results/
ppo_trafik_isigi_tensorboard/
*.log
*.checkpoint
*.tfevents.*

# Assets & Reports
!assets/*.png
!assets/*.gif
!mega_v4_report.png
.idea/
.vscode/
