# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
robot_env/
venv/
.env

# SUMO / Simulation
*.log
tripinfo.xml
summary.xml
tripinfo_*.xml
*.bak
dump.xml
state.xml

# Training / Ray
ray_results/
ppo_trafik_isigi_tensorboard/
*.checkpoint
*.tfevents.*

# Redundant Data
gnn_hybrid_metrics (1).csv
gnn_training_metrics.csv
hybrid_final_metrics.csv
hybrid_v2_metrics.csv

# Backups and temporary
*.zip
*.mp4
*.gif
.idea/
.vscode/

# Project Specific
assets/Ekran görüntüsü*.jpg
run/*.png
!run/anlasilir_performans_ozeti.png
